canvas {
border:1px solid #000000;
margin-left: auto;
margin-right: auto;
display: block;
}

form{
  text-align: center;
  margin-top: 25px;
}

#buttons{
  text-align:center;
  width:480px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
